<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction %>
</p>

<p>
  <strong>post_ids:</strong>
  <%= @user.post_ids %>
</p>

<p>
  <strong>comment_ids:</strong>
  <%= @user.comment_ids %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
