<%= form_with(model: sub_forum) do |form| %>
  <% if sub_forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_forum.errors.count, "error") %> prohibited this sub_forum from being saved:</h2>

      <ul>
        <% sub_forum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :number_of_posts %>
    <%= form.number_field :number_of_posts %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_area :post_id %>
  </div>

  <div class="field">
    <%= form.label :admin_ids %>
    <%= form.text_area :admin_ids %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
