<p id="notice"><%= notice %></p>

<h1>Sub Forums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>number_of_posts</th>
      <th>post_id</th>
      <th>admin_ids</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_forums.each do |sub_forum| %>
      <tr>
        <td><%= sub_forum.name %></td>
        <td><%= sub_forum.description %></td>
        <td><%= sub_forum.number_of_posts %></td>
        <td><%= sub_forum.post_id %></td>
        <td><%= sub_forum.admin_ids %></td>
        <td><%= link_to 'Show', sub_forum %></td>
        <td><%= link_to 'Edit', edit_sub_forum_path(sub_forum) %></td>
        <td><%= link_to 'Destroy', sub_forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Forum', new_sub_forum_path %>
