<%# post set as a child resource %>
<%= form_with(model: [@sub_forum, post]) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, size: "60x10" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
