<h1>New Post</h1>

<%= render 'form', post: @post %>

<div class="post-tags">
    <p>SubForum: <%= @post.sub_forum.name %></p>
    <%# <p>SubForum: <%= @sub_forum.name %></p>
</div>

<%= link_to 'Back',  @sub_forum %>
<%# <%= link_to 'Back',  @sub_forum %>
